* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%; 
  background-color: black;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 70px 180px 1fr;
  grid-template-areas:
    "header header"
    "aside section"
    "figure figure";
  gap: 10px;
  padding: 10px;
}

header {
  background-color: rgb(138, 18, 18);
  grid-area: header;
}

aside {
  background-color: honeydew;
  grid-area: aside;
}

section {
  background-color: lightblue;
  grid-area: section;
}

figure {
  background-color: chocolate;
  grid-area: figure;
}
