* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  /* background-color: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  text-align: center;
  background-color: #116ba2;
  padding: 100px;
  margin: 30px;
  border-radius: 20px;
  width: 95%;
  transition: all ease 0.3s;
}
header:hover {
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.461);
}

.header-text {
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 1.5;
}

.box {
  text-align: center;
  width: 80%;
  margin: 40px;
  background-color: ghostwhite;
  border-radius: 12px;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.461);
  padding: 30px;
  transition: all ease 0.5s;
}

.box h2{
    font-size: 32px;
}

.box:hover {
  scale: 1.05;
}

section {
  margin-bottom: 30px;
  padding: 25px 30px;
  text-align: center;
  line-height: 1.5;
}
