@font-face {
    font-family: seb;
    src: url(./sf-pro-display_semibold.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: seb;
}

html,
body {
    height: 100%;
    width: 100%;
}

#nav {
    height: 60px;
    width: 100%;
    background-color: rgb(32, 32, 32);
    display: flex;  /* ek line mein aagye */
    align-items: center; /* Y-axis center hogye */
    justify-content: center; /* X-axis center hogye */
    gap: 20px;
}

#nav h4 {
    color: rgb(234, 227, 227);
    font-weight: 300;
}

#center {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(https://www.apple.com/v/home/ci/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_mediumtall.jpg);
    background-position: center;
    text-align: center;
    padding: 50px;
}

#center h1 {
    color: white;
    font-size: 60px;
    font-weight: 600;
}

#center h5 {
    color: white;
    font-size: 35px;
    font-weight: 300;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

#links button{
    background-color: royalblue;
    color: white;
    padding: 13px 20px;
    border-radius: 50px;
    border: none;
}

button{
    padding: 15px 24px;
    border-radius: 50px;
    background-color: royalblue;
    color: white;
    font-weight: 500;
    font-size: 20px;
    border: none;
}
