@font-face {
  font-family: neumachina;
  src: url(../NeueMachina-Medium_d0jNuroW9.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neumachina;
}

html,
body {
  height: 100%;
  width: 100%;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main {
  height: 100%;
  width: 100%;
  // background: url(https://images.pexels.com/photos/773594/pexels-photo-773594.jpeg);
  // background-size: cover;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  > h1 {
    color: snow;
    font-size: 200px;
    font-weight: 500;
    padding-left: 70px;
    margin-top: 4%;
    margin-bottom: 3%;
  }

  #nav {
    padding: 10px 30px;
    a {
      color: snow;
      text-decoration: none;
      font-size: 25px;
      margin-right: 30px;
    }
  }

  #btm-left {
    color: snow;
    position: relative;
    left: 2rem;
    width: 12rem;
    // margin-top: 2vh;
    
    h3 {
      font-size: 40px;
    }
    h4 {
      font-size: 30px;
    }

    #btm-bar {
      color: snow;
      font-size: small;
      width: 100%;
      top: 26vh;
      left: 82rem;
      position: absolute;
    }
  }

  #sec2 {
    height: 100%;
    width: 100%;
    margin-top: 16rem;
    background-color: #808080;

    h1 {
      font-size: 60px;
    }
  }
}
