* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #121212;
}

html {
  color: #d1d1d1;
  font-family: Roboto Mono, sans-serif;
  font-size: clamp(14px, 1.5vw, 18px);
}

@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

// For the 4K View set max-width
section {
  max-width: 1700px;
}

main {
  width: 100%;
  @include flex-column(0rem);
  align-items: center;
  letter-spacing: 1px;

  section.view1 {
    width: 100%;
    @include flex-column(0.7rem);
    padding: 1rem;

    .top {
      width: 100%;
      // background-color: green;
      border-radius: 10px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .bottom {
      background-color: #1e1e1e;
      padding: 2rem;
      border-radius: 10px;
      @include flex-column(4rem);

      p {
        font-size: 0.9rem;
      }

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.3rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 400;
          color: #7d7d7d;
          line-height: 1.2;
          font-size: 1.5rem;
          opacity: 0.8;
        }

        button {
          width: fit-content;
          padding: 10px;
          border-radius: 8px;
          border: none
        }
      }
    }
  }

  section.view2 {
    @include flex-column(1rem);
    width: 100%;
    padding: 1rem;

    .top,
    .bottom {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .element {
        text-align: center;
        @include flex-column(0.3rem);
      }
      small {
        opacity: 0.7;
      }
      h2 {
        font-size: 3rem;
        font-weight: 400;
      }
    }
  }

  section.view3 {
    width: 100%;
    @include flex-column(0.7rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .bottom {
      background-color: #1e1e1e;
      padding: 2rem;
      border-radius: 10px;
      @include flex-column(4rem);

      > p {
        font-size: 0.9rem;
        text-transform: uppercase;
      }

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.3rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 300;
          color: #7d7d7d;
          font-size: 1.5rem;
          line-height: 2rem;
          opacity: 0.8;
        }
      }
    }
  }

  section.view4 {
    width: 100%;
    @include flex-column(0.7rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .bottom {
      background-color: #1e1e1e;
      padding: 2rem;
      border-radius: 10px;
      @include flex-column(4rem);

      > p {
        font-size: 0.9rem;
        text-transform: uppercase;
      }

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.3rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 300;
          color: #7d7d7d;
          font-size: 1.5rem;
          line-height: 2rem;
          opacity: 0.8;
        }
      }
    }
  }

  section.view5 {
    width: 100%;
    @include flex-column(1rem);
    padding: 1rem;

    .element {
      @include flex-column(0.3rem);

      h2 {
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 0.3rem;
      }
    }
  }

  section.view6 {
    width: 100%;
    @include flex-column(0.7rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .bottom {
      background-color: #1e1e1e;
      padding: 3rem;
      border-radius: 10px;
      text-transform: uppercase;
      @include flex-column(1rem);

      p {
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      .text {
        @include flex-column(0.7rem);
        h1 {
          font-size: 2.3rem;
          font-weight: 500;
          margin-bottom: 7rem;
        }

        button {
          width: fit-content;
          padding: 10px;
          border-radius: 8px;
          text-transform: uppercase;
        }
      }
    }
  }

  section.view7 {
    width: 100%;
    @include flex-column(0.7rem);
    padding: 1rem;
    .element {
      width: 100%;
      background-color: #cebd63;
      color: #121212;
      padding: 3rem;
      border-radius: 10px;
      @include flex-column(1rem);

      p {
        font-size: 0.9rem;
        font-weight: 600;
      }

      button {
        margin-top: 2rem;
        border-radius: 8px;
        border: none;
        width: fit-content;
        color: #e0e0e0;
        background-color: #121212;
        display: inline-flex;
        align-items: center;
        border-color: transparent;
        text-align: center;
        letter-spacing: 1px;
        line-height: 1.5rem;
        padding: 1rem 1.5rem;
        cursor: pointer;
        white-space: nowrap;
      }
    }
  }
}

// MEDIA QUERY FOR DESKTOP ----------->>
@media (min-width: 900px) {
  main {
    section.view1 {
      padding: 2rem 1rem;
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        gap: 1rem;
        padding: 3rem;

        .bottom > p {
          font-weight: 400;
          letter-spacing: 0.1rem;
        }

        .text h1 {
          font-size: 3.5rem;
        }
        button {
          margin-top: 1.5rem;
        }
        .text > p {
          font-size: 1.2rem;
          letter-spacing: 0.1rem;
          line-height: 2rem;
        }
      }
    }

    section.view2 {
      flex-direction: row;
      padding: 2vw 0vw;
      gap: 5vw;

      .top,
      .bottom {
        gap: 5vw;
        .element small {
          letter-spacing: 0.1vw;
        }

        h2 {
          font-size: 4vw;
          font-weight: 400;
        }
      }
    }

    section.view3 {
      padding: 2rem 1rem;
      flex-direction: row-reverse;

      .top,
      .bottom {
        width: 50%;
      }

      .top img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .bottom {
        justify-content: space-between;
        gap: 1rem;
        padding: 4rem;

        > p {
          margin-bottom: 5rem;
          font-size: 1rem;
          font-weight: 400;
        }

        .text h1 {
          font-size: 3vw;
          margin-bottom: 1rem;
        }

        .paragraphs p {
          column-count: 2;
          column-gap: 3rem;
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }

    section.view4 {
      padding: 0rem 1rem;
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .top img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .bottom {
        justify-content: space-between;
        gap: 1rem;
        padding: 4rem;

        > p {
          margin-bottom: 5rem;
          font-size: 1rem;
          font-weight: 400;
        }

        .text h1 {
          font-size: 3vw;
          margin-bottom: 1rem;
        }

        .paragraphs p {
          column-count: 2;
          column-gap: 3rem;
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }

    section.view5 {
      padding: 2rem 2.5rem;
      letter-spacing: 0.1rem;

      .element h2 {
        font-size: 2.3rem;
        font-weight: 400;
        letter-spacing: 0.3rem;
      }
    }

    section.view6 {
      flex-direction: row;
      padding: 0rem 1rem;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        p {
          font-size: 1rem;
          font-weight: 400;
        }
        .text {
          button {
            font-size: 1.1rem;
            padding: 1rem 2.5rem;
            white-space: nowrap;
            border-color: transparent;
            font-weight: 600;
          }
        }
      }
    }

    section.view7 {
      .element {
        padding: 4rem;

        p {
          font-weight: 600;
          font-size: 1.2rem;
        }

        .text {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding: 70px;

          h1 {
            font-size: 4rem;
            font-weight: 400;
          }

          .btn button {
            // display: inline-flex;
            // // align-items:  center;
            // gap: 0.5rem;
            border-color: transparent;
            text-align: center;
            letter-spacing: 1px;
            // line-height: 1.5rem;
            padding: 1rem 2rem;
            cursor: pointer;
            font-size: large;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
