* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 250px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "left-top top-center top-right"
    "left-top center bottom-right"
    "left-bottom left-bottom bottom-right";
  gap: 8px;
  padding: 10px;
}

#left-top {
  background-color: red;
  grid-area: left-top;
  border-radius: 10px;
}
#left-bottom {
  background-color: green;
  grid-area: left-bottom;
  border-radius: 10px;
}
#top-center {
  background-color: yellow;
  grid-area: top-center;
  border-radius: 10px;
}
#center {
  background-color: #afaf83;
  grid-area: center;
  border-radius: 10px;
}
#top-right {
  background-color: darkorchid;
  grid-area: top-right;
  border-radius: 10px;
}
#bottom-right {
  background-color: blue;
  grid-area: bottom-right;
  border-radius: 10px;
}
