* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    grid-template-areas:
        "header header header"
        "section section section"
        "div1 div2 div3"
    ;
    grid-gap: 10px;
    padding: 10px;
}

header{
    background-color: rgb(130, 8, 32);
    grid-area: header;
}

section{
    background-color: rgb(6, 6, 109);
    grid-area: section;
}

#div1{
    background-color: rgb(11, 109, 118);
    grid-area: div1;
}
#div2{
    background-color: rgb(118, 11, 118);
    grid-area: div2;
}
#div3{
    background-color: rgb(106, 118, 11);
    grid-area: div3;
}
