* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
  height: 300px;
  width: 330px;
  /* background-color: crimson; */
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

/* img tag pe 'object-fit: cover' */
/* background image -> pe 'background-size: cover' */

.card img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.bottom {
  height: 30%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.669));
  bottom: -30%;
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom h4 {
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 24px;
}

.bottom h3 {
    background-color: white;
    border-radius: 50%;
    padding: 4px 5px;
}

.card:hover .bottom {
  bottom: 0%;
  padding: 20px;
}
